<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<!-- 
	解析spring配置文件：主要配置javabean
	默认会解析 /WEB-INF/applicationContext.xml 
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 解析spring mvc的配置文件,主要配置Controller，面向商家 -->	
  <servlet>
        <servlet-name>saleman</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
        	<param-value>classpath:springmvc_back.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>saleman</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!-- 面向买家 -->
    <!--  <servlet>
        <servlet-name>buyer</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
        	<param-value>classpath:springmvc_front.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>buyer</servlet-name>
        <url-pattern>*.thtml</url-pattern>
    </servlet-mapping> -->
</web-app>
